<!-- login (로그인 페이지) -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 ㅣ Vector Board</title>
    <meta name="Author" content="Lee ChanHo">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css 초기화 -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/login.css">

    <script src="./js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="login">
        <a class="goto-main" href="/">메인으로</a>
        <div class="login-container">
            <header class="header">
                <h1 class="form-logo">
                    <a href="/"><img src="./images/LOGO1.png"></a>
                </h1>
                <h3 class="form-title">
                    <span>로그인</span>
                    <div class="form-description">"어서오세요 환영합니다"</div>
                </h3>
                <div class="go-signup">
                    <span class="signup-question">혹시 계정이 없으신가요? </span>
                    <a class="signup-link" href="/signup">회원가입</a>
                </div>
            </header>
            <section class="login-form">
                <div class="membership">
                    <img class="lignt-icon" src="./images/light_icon.png" alt="전구">
                    <p>벡터보드는 현재 <span class="member"><%=userCount%></span>명의<br>회원들이 이용하고 있습니다.</p>
                </div>
                <div class="login-form-wrap">
                    <form action="/login" method="post">
                        <label>
                            <span>아이디 (이메일)</span>
                            <input type="email" name="email" placeholder="이메일 주소를 입력하세요" maxlength="25" required>
                        </label>
                        <label>
                            <span>비밀번호</span>
                            <input type="password" name="password" placeholder="비밀번호를 입력하세요" maxlength="15" required>
                        </label>
                        <div class="forgot-password">
                            <span><a href="/">비밀번호가 기억나지 않으세요?</a></span>
                        </div>

                        <% if(locals.loginError){ %>
                        <div class="login-error">
                            <p>
                                아이디 또는 비밀번호를 다시 확인하세요.<br>
                                등록되지 않은 아이디이거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다.
                            </p>
                        </div>
                        <% } %>
                        <div class="login-submit">
                            <input type="submit" value="벡터보드 시작하기">
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
</html>